<div class="card">
        <div class="card-header">
            Current Shows!
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <thead class="bg-warning">
                        <tr>
                            
                            <th>Poster</th>
                            <th>Title</th>
                            <th>First Air Date</th>
                            <th>Description</th>
                            
                        </tr>
                    </thead>
                    <tbody class="bg-info">
                        <tr *ngFor = "let show of tvshows.results">
                            <td><img 
                            [src]="'https://image.tmdb.org/t/p/w500' + show.poster_path"
                            [style.width.px] = "imageWidth"
                            [style.margin.px] = "imageMargin"
                            [title] = "show.original_title"
    
                            ></td>
                            <td>{{show.original_name}}</td>
                            <td>{{show.first_air_date}}</td>
                            <td>{{show.overview}}</td>
                            
                            
                        </tr>
        
                    </tbody>
                </table>
            </div>
        </div>
    </div>